In [1]:
x=" Hello  "
z=' welcome  '
y=""" to Python Class  """

In [3]:
print(x,z,y)

 Hello   welcome   to Python Class

In [4]:
x

' Hello '

In [5]:
x,y,z

(' Hello ', ' to Python Class ', ' welcome ')

In [7]:
z=  "it's"

In [16]:
age = 36
 + str(age)
print(txt)

My name is John, I am 36

In [17]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [22]:

itemno = 567
price = 49.95
quantity = int(input("enter your number"))
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format( itemno, price,quantity))

enter your number50
I want 567 pieces of item 49.95 for 50 dollars.

In [50]:

#indexing 0....               21
txt =    "My name is John, I am   h"
#        -22                  -1

In [24]:
len(txt)

22

In [27]:
txt[-22]

'M'

In [28]:
txt[0]

'M'

In [33]:
txt[0:2]

'My'

In [51]:
txt[::22]

'M '

In [74]:
adil =    "My name is John, I am  h"

In [75]:
adil[::23]

'Mh'

In [58]:
st='ali'

In [59]:
st

'ali'

In [60]:
st.capitalize()

'Ali'

In [61]:
st.lower()

'ali'

In [64]:
st.count("a")

1

In [70]:
st="AADDil"

In [68]:
st.count("i")

1

In [71]:
st.casefold()

'aaddil'

In [72]:
txt.find("john")

-1

In [73]:
st.rfind("l")

5