In [17]:
def FunctionName(name,rollno):#diff
    print( name+""+str(rollno))#body of function
FunctionName("adil",123) #calling

adil123

In [9]:
FunctionName()

body of funtion

In [18]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [19]:
def my_function(*kids):
     print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus","")

The youngest child is Linus

In [26]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function( child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [27]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function()

I am from Sweden
I am from Norway

In [28]:
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [34]:
def my_function(x):
    for i in x:
        return 5 * x
l=[1,2,4]
my_function(l)

[1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4, 1, 2, 4]

In [31]:
def name():
    pass

In [32]:
name()

In [2]:
def id_card(int(Sid),Sname,Fname,position,timing):
    text="""
   SOFTHUKS TECHNOLOGIES
   id:{}
   name:{}
   father_name:{}
   position:{}
   timing:{}
   """.format(Sid,Sname,Fname,position,timing)
    print(text)

In [3]:
id_card(102,"ali khan ","M khan ","IT Manager","9:00AM to 2:00PM")

   SOFTHUKS TECHNOLOGIES
   id:102
   name:ali khan
   father_name:M khan
   position:IT Manager
   timing:9:00AM to 2:00PM

In [7]:
def mile_into_km(mile):
    km=mile/0.62137
    print(km)
    
mile_into_km(1)

1.6093470878864444